* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #ff4081;
  --black: #000000;
  --blackLighter: #372963;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #c592ff;
  --backEnd: #00FF9C;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}